@import url(https://fonts.googleapis.com/css?family=Outfit:regular,700);
html {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}
body {
    margin: 0;
    height: 100vh;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: hsl(220, 15%, 55%);
}
.container {
    max-width: 1440px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper {
    width: 320px;
    min-height: 497px;
    background-color: #fff;
    border-radius: 16px;
    text-align: center;
    padding: 15px;
}
.code {
    border-radius: 8px;
    width: 288px;
    height: 288px;
    background-image: url(../images/image-qr-code.png);
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 30px;
}
.content {
    width: 250px;
    margin: 0 auto;
}
.title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 22px;
    color: hsl(218, 44%, 22%);
}
.text {
    margin: 0 3px;
}
